<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3> ${content}작업 마감 임박!!</h3>
        <div>
           	${user}님에게 부여된 ${content} 작업의 마감날짜가 임박했습니다.
        </div>
</body>
</html>