<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <style>
    </style>
  </head>
  <body>
    <!--전체 wrap-->
    <div>
      <!-- 채팅 화면 -->
      <div style="float: left; width:100%;"> 
        <div id="chatArea" style="float: left; border: 1px solid black; width: 66%; height:400px; padding: 10px; margin-bottom: 10px;" readonly></div>
        <!-- 대화상대 목록창-->
        <div  style="border: 1px solid black; float: right; width:28%; height:490px; margin-right: 4px; padding : 10px;">
          <p>대화 상대 목록<span style="float: right;" id="member_Cnt"></span></p>  
          <div id="chatMember"></div>
        </div>
        <textarea id="chatInput" style="border: 1px solid black; width:62.3%; height : 75px;"></textarea>
        <input type="button" value="전송" id="chatSubmit" style="height : 80px; float: right; margin-right: 9px;">
      </div>
      <div id="user" style="display:none;"><%= user%></div>
      <div id="room" style="display:none;"><%= room%></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      
      $(document).ready(function(){
    


        var user = $("#user").text();
        var room = $("#room").text();
        var chatServerURL = "http://localhost:3999";
        var socket = io.connect(chatServerURL);
        sendAjax();


        //메시지 전송
        $("#chatInput").keydown(function(event){
          if(event.keyCode == "13"){
            var message = $("#chatInput").val();
            var user = $("#user").text();
            var room = $("#room").text();
            var sendMsg = "<p style='text-align : -webkit-right;'>" + message + "</p>"

            $("#chatArea").append(sendMsg);

            $("#chatInput").val("");
            $("#chatInput").focus();
            socket.emit("send message", user, message, room);
           
            event.preventDefault();//이벤트 취소 함수
          }
        });
        //접속시
        socket.on("connection", function(data){
          if(data.type == "connected"){
            socket.emit("connection",{
              type : "join",
              room : room,
              name : user
          
            });
          }
          //대화방 참여
          socket.on("change name", function(members){
            
          });
        });

        //메시지 받기
        socket.on("receive message", function(msg){
          rtnMsg = "<p>" + msg + "</p>";
          $("#chatArea").append(rtnMsg);
          $("#chatArea").scrollTop($('#chatArea')[0].scrollHeight);
        });
        

        socket.emit("disconnect",  function(){          
        });
        

        function sendAjax(){
          $("#chatMember").empty();
          var param = {roomIdx : room};
          param = JSON.stringify(param);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "http://localhost:3000/chatting/members");
          xhr.setRequestHeader("Content-type","application/json");
          xhr.send(param);
          xhr.addEventListener("load", function(){
            var result = JSON.parse(xhr.responseText);
            var members = result.rows ? result.rows : [];
            
            if(result.result == "success"){
              var member_list = "";
              var member_Cnt = members.length + "명";
              for(var i = 0 ; i < members.length ; i++){
                
                member_list += "<p>" + members[i].id  + "</p>";
              }
              $("#member_Cnt").text(member_Cnt);
              $("#chatMember").html(member_list);
              }
          });
        }
      });
    </script>
  </body>
</html>